<%= render 'note', post: @post %>
<div class="flex justify-center mb-5">

<div class="overflow-hidden max-w-xl w-full">
  <div class="px-2">
    <a href="/notes">all notes</a>
  </div>
  </div>
  </div>
