
<div class="flex justify-center mb-4">
  <div class="max-w-sm">
    <h2 class="text-lg"> ~ Moments ~</h2>
  </div>
</div>
<% @posts.each do |post| %>
  <a href="/nielsworkshop/<%= post.slug %>" style="color: inherit; text-decoration: inherit;">
    <%= render 'post_card', post: post %>
  </a>
<% end %>
