<a href="/nielsworkshop" class="my-4">
  <div class="flex justify-center mb-4">
    <div class="w-full max-w-sm rounded overflow-hidden bg-gray-300 mx-auto text-center uppercase text-xs py-2">home
      </div>
  </div>
</a>

<div class="flex justify-center mb-4">

  <div class="w-full max-w-sm">
    <div class="py-4">
      <p class="text-gray-900 text-base italic">
        This is a list of woodworking-related websites I enjoy, like in the good old days of the internets. No sponsoring, affiliation, click-tracking or similar shite.
      </p>
    </div>
  </div>

</div>


<%= render 'link',
  url: 'https://www.theenglishwoodworker.com/',
  friendly_url: 'www.theenglishwoodworker.com',
  title: 'The English Woodworker',
  description: "I really like Richard and Helen's videos and the 'the occasional slip of industrial language' as they put it. If you want to learn how to build fabulous things without power tools, check their site and videos."
%>

<div class="flex justify-center mb-4">

  <div class="w-full max-w-sm">
    <div class="py-4">
      <p class="text-gray-900 text-xs">
        If you want to link to my site (I bet you want to), please make sure to link to <strong>https://www.linnedude/nielsworkshop</strong> and not to the bare domain.
      </p>
    </div>
  </div>

</div>
