<a href="/nielsworkshop" class="my-4">
  <div class="flex justify-center mb-4">
    <div class="w-full max-w-sm rounded overflow-hidden bg-gray-300 mx-auto text-center uppercase text-xs py-2">home
      </div>
  </div>
</a>
<% if @post.draft? %>
  <div class="text-red">DRAFT</div>
<% end %>

<%= render 'post_card', post: @post %>
