<div class="m-5">
  hi I'm Niels and this is my personal website.
  <p class="mt-4 mb-2">you can find me here:</p>
  <ul>
    <li><a href="https://twitter.com/linnedude" rel="me">@linnedude</a> on twitter</li>
    <li><a href="https://github.com/nlinn" rel="me">@nlinn</a> on github</li>
  </ul>
  <p class="h-card">
    <a class="p-name u-url" href="https://www.linnedude.com">Niels Linnemann</a>
    <span class="p-locality">Hamburg</span>
    <span class="p-country-name">Germany</span>
  </p>
  <div class="mt-3">
    <div>Looking for content? Try one of these:</div>
    <% @labels.each do |label| %>
        <%= render 'read/label', label: label %>
      <% end %>
  </div>    
</div>
