<span class="my-label-intro" style="color: #666; background-color: transparent;">Read more: </span>
<% post.labels.sorted.is_public.each do |label| %>
  <%= render 'read/label', label: label %>
<% end %>