<div class="admin-mainbody">
  <h2 class="admin">All Posts</h2>

    <div class="text-base"><strong><%= @posts.size %></strong> posts</div>




  <% @posts.each do |post| %>
    <%= render 'index', post: post %>
  <% end %>
  <div class="mt-5"><%= will_paginate @posts %></div>
</div>
