<h1><%= @post.title %></h1>
<p>
  <%= @post.content %>
</p>
<div class="flex justify-center bg-gray-200">
  <% if @post.images.any? %>
    <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2"><%= image_tag @post.images.first %></div>
  <% end %>
  <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">2</div>

</div>
